# macOS
.DS_Store

# Build directory
build/
bin/
obj/

# CMake
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json

# Executables
cvm
cvm_tests
